/* -------------------------  css for whole page --------------------------- */
.common-body {
  background-color: #191919;
  color: #fff;
  padding: 1rem 3rem;
}

.section {
  padding-top: 0;
}

@media (min-width: 1300px) {
  .common-body {
    padding: 1rem 8rem;
  }
}

/* ---------------------- common css for dashboard and Earn part  -------------------------- */

.default-child-cont {
  display: flex;
  font-size: 1.2rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 1rem;
}

.default-cont-heading {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.default-child-cont-portion {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  border: 1px solid #a9a9b0;
  border-radius: 0.2rem;
  flex-grow: 1;
}

.default-child-cont-portion-title {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.default-child-cont-portion-title img {
  width: 2rem;
}

.blank_div {
  border: 0.5px solid #a9a9b0;
  width: 100%;
}

.default-child-cont-portion-desc-area {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  margin: 0 0.8rem;
}

/*------------------ second section start i.e token section -------------- */

.view-align {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}

.token_img {
  height: 2.5rem;
  width: 2.5rem;
}

.token_heading1 {
  display: flex;
  padding: 0.3rem;
  gap: 0.6rem;
}

.token-content {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.chart-display {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-self: center;
  position: relative;
}

.center_txt {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .token-content {
    width: 50%;
  }
}

/* --------------------------- index compostion or third section start  ------------------ */

.third_section-cont {
  border: 1px solid #a9a9b0;
  display: flex;
  flex-direction: column;
  border-radius: 0.2rem;
}
.composition_heading {
  display: flex;
  font-size: 1rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.composition_heading img {
  width: 1, 1rem;
  height: 1.1rem;
}

.crypto_detail {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.crypto_name {
  display: flex;
  flex-direction: column;
}

.crypto_name p {
  font-size: 0.8rem;
  color: #a9a9b0;
}

.head_content {
  color: #a9a9b0;
  text-align: left;
}

.head_content_child {
  padding: 1rem;
}

.utilization {
  text-align: right;
  padding-right: 1rem;
}

@media (max-width: 1000px) {
  .third-first-part {
    display: none;
  }
}

@media (min-width: 1000px) {
  .third-second-part {
    display: none;
  }
}
